* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
	font-size: 16px;
	outline: none;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

body {
	min-height: 3000px;
}

.container {
	width: 1110px;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

.header {
	display: flex;
	z-index: 10;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 30px;
}

.header__left {
	display: flex;
}

.header__logo{
	display: inline-block;
	width: 156px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

.menu__icon {
	display: none;
	font-size: 24px;
	color: #fff;
}

.menu__icon:hover {
	color: #fff;	
}

.header__nav {
	list-style: none;
	display: flex;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.header__nav li {
	margin-left: 28px;
	margin-top: 5px;
}

.header__right {
	margin-left: 446px;
}

.header__login {
	border: none;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	font-weight: 500;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	background-color: transparent;
}

.header__login:hover {
	color: #000;
	background-color: #ff4b64;
	border: 1px solid #ff4b64;
	transition: background-color 1s, color 1s;
}

/* first block */

.first {
	display: flex;
	min-height: 650px;
	padding-top: 275px;
	padding-bottom: 232px;
	position: relative;
	background-image: url("../img/headerBg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.first .container {
	width: 992px;
	display: flex;
	flex-direction: column;
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 0.2px;
}

.first__heading {
	margin: 0 auto;
	margin-top: 8px;
	color: #fff;
}

.first__descr {
	margin: 0 auto;
	margin-top: 44px;
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 0.75px
}

.first__form {
	position: absolute;
	left: 50%;
	bottom: -27px;
	z-index: 8;
	transform: translateX(-50%);
	width: 973px;
	font-size: 0;
}

.first__form input {
	width: 34.5%;
	height: 55px;
	font-size: 16px;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	padding-left: 32px;
}

.first__form input::placeholder {
	color: #818181;
}

.first__form input:nth-child(2) {
	border-left: none;
}

.first__form .small-input {
	width: 19%;
	border-left: none;
}

.first__form button {
	width: 11.94%;
	height: 55px;
	font-size: 16px;
	border: none;
	color: #fff;
	background-color: #ff4b64;
}

.first__form button:hover {
	background-color: #fff;
	color: #ff4b64;
	transition: background-color 1s, color 1s;
}

/* Flights block */

.flights .container {
	display: flex;
	flex-direction: column;
}

.flights__top {
	display: flex;
}

.flights__heading {
	margin-top: 104px;
}

.flights__list {
	display: flex;
	max-height: 15px;
	margin-top: 109px;
	margin-left: 598px;
	font-size: 16px;
	font-weight: 500;
	list-style: none;
}

.flights__list li {
	margin-left: 31px;
}

.flights__list a {
	color: #000
}

.flights__list a.active {
	color: #ff7487;
}

.flights__list a:hover {
	text-decoration: none;
	color: #000;
}

/* Table */

table {
	margin-top: 50px;
	width: 100%;
}

.flights__table table {
	width: 100%;
	border-collapse: collapse;
}

.flights__table table thead {
	border-bottom: 1px solid #e6e6e6;
}

.flights__table table thead th {
	padding-bottom: 35px;
	text-align: center;
}

.flights__table table thead tr th:first-child {
	width: 250px;
	text-align: left;
}

.flights__table table thead tr th:last-child {
	text-align: right;
	padding-right: 50px;
}


.flights__table table tbody th img {
	display: inline-block;
	vertical-align: middle;
}

.flights__table table tbody th .text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 24px;
}

.flights__table table tbody th .text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 24px;
}

.flights__table table tbody th span {
	display: block;
	margin-top: 15px;
	color: #9a9a9a;
}

.flights__table table tbody tr {
	height: 144px;
	border-bottom: 1px solid #e6e6e6;
}

.flights__table table tbody td {
	text-align: center
}

.flights__table table tbody td span {
	display: block;	
	margin-top: 15px;
	color: #9a9a9a;	
}

.main-btn {
	float: right;
	width: 122px;
	height: 43px;
	font-size: 16px;
	font-weight: 700;
	color: #ff4b64;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #ff4b64;
}

.main-btn:hover {
	color: #fff;
	background-color: #ff4b64;
	transition: background-color 1s, color 1s;
}

.flights__table__link {
	margin-top: 41px;
	float: right;
}

.flights__table__link a {
	color: #000;	
}

.flights__table__link a:hover {
	text-decoration: none;
	color: #000;
}

.hotels .container {
	max-width: 1110px;
	display: flex;
	flex-direction: column;
}

.hotels__top {
	display: flex;
}

.hotels__heading {
	margin-top: 72px;
}

.hotel__links ul {
	margin-left: 820px;
}

.hotel__links ul li{
	list-style: none;
	font-weight: 700;
	margin-top: 84px;
	padding-left: 15px;
	float: right;
}

.hotel__links ul li:nth-child(2) {
	color: #ff4b64;
}

.hotels__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.hotels__item {
	margin-top: 52px;
}

.hotels__title {
	font-size: 16px;
	font-weight: 700;
	margin-top: 25px;
	margin-left: 16px;
}

.hotels__props {
	display: flex;
	justify-content: space-between;
}

.hotels__distance {
	width: 62px;
	color: #e6e6e6;
	margin-top: 10px;
	margin-left: 16px;
}

.hotels__services {
	width: 82px;
	color: #e6e6e6;
	margin-top: 10px;
	margin-right: 12px;
}

.hotels__button {
	width: 120px;
	height: 40px;
	margin-left: 15px;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 700;
	color: #ff4b64;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #ff4b64;
}

.hotels__button:hover {
	color: #fff;
	background-color: #ff4b64;
	transition: background-color 1s, color 1s;
}

.hotels__link {
	margin-top: 66px;
	margin-left: 1005px;
}

.hotels__link a {
	color: #000;	
}

.hotels__link a:hover {
	text-decoration: none;
	color: #000;
}

/* Cтили Footer'a */

.footer .container {
	display: flex;
	justify-content: space-between;
}

.footer__column {
	margin-top: 76px;
	width: 22.5%;
}

.footer__column:nth-child(2) {
	width: 26%;
}

.footer__column:nth-child(3) {
	width: 27.3%;
}

.footer__column:last-child {
	width: 24.2%;
}

.footer__title {
	font-size: 30px;
}

.last__footer__title {
	margin-bottom: 46px;
}

.footer__nav {
	list-style: none;
	margin-top: 28px;
}

.footer__nav li a {
	color: #000;	
}

.footer__nav li a:hover {
	text-decoration: none;
	color: #000;
}

.footer__text {
	width: 100%;
	display: inline-block;
}

.footer__column a {
	display: inline-block;
	margin-top: 20px;
}

.footer__column a:hover {
	color: #000
}

.footer__info {
	display: none;
	width: 120px;
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #ff4b64;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ff4b64;	
}

.footer__info:hover {
	color: #000;
	background-color: #ff4b64;
	border: 1px solid #ff4b64;
	transition: background-color 1s, color 1s;
}

@media (max-width: 1140px) {
	.container {
		width: 100%;
	}
	.header__right {
		margin-left: 400px;
	}
	.first__heading {
		font-size: 60px;
	}
	.first__form {
		width: 910px;
	}
	.flights__list {
		margin-left: 560px;
	}
	.hotels__top,
	.flights__table__link,
	.hotels__link {
		display: none;
	}
	.footer__column:nth-child(1) {
		margin-left: 20px;
	}
}

@media (max-width: 1090px) {
	.header__right {
		margin-left: 360px;
	}	
	.flights__list {
		margin-left: 510px;
	}
}

@media (max-width: 1066px) {
	.hotels__items {
		justify-content: space-around;
	}
}

@media (max-width: 1050px) {
	.header__right {
		margin-left: 320px;
	}	
	.flights__list {
		margin-left: 470px;
	}
}

@media (max-width: 1010px) {
	.header__right {
		margin-left: 250px;
	}	
	.first__heading {
		font-size: 54px;
	}	
	.first__descr {
		font-size: 26px;
	}
	.flights__list {
		margin-left: 430px;
	}
}

@media (max-width: 960px) {
	.flights__list {
		margin-left: 360px;
	}
}

@media (max-width: 940px) {
	.header__right {
		margin-left: 200px;
	}	
	.first__heading {
		font-size: 48px;
	}	
	.first__descr {
		font-size: 24px;
	}
	.first__form {
		width: 810px;
	}
	.first__form input {
		font-size: 14px;
		padding-left: 0;
		text-align: center;
	}
	.first__form #input_1,
	.first__form #input_2
	 {
		width: 31%;
	}
	.first__form #input_3 {
		width: 17%;
	}
	.first__form button {
		width: 18%;
		font-size: 14px;
	}
	.footer__title {
		font-size: 26px;
	}
	.footer__nav li a,
	.footer__text,
	.footer__mail {
		font-size: 14px;
	}
}

@media (max-width: 890px) {
	.header__right {
		margin-left: 290px;
	}	
	.header__logo {
		display: none;
	}
	.flights__list {
		margin-left: 290px;
	}
	.flights__table table thead tr th:first-child {
		width: 200px;
	}
}

@media (max-width: 820px) {
	.header__right {
		margin-left: 240px;
	}	
	.first__form {
		display: none;
	}
	.flights__top {
		display: none;
	}
}

@media (max-width: 770px) {
	.header__right {
		margin-left: 200px;
	}	
}

@media (max-width: 730px) {
	.header__right {
		margin-left: 150px;
	}	
	.first__heading {
		font-size: 40px;
	}
	.first__descr {
		font-size: 20px;
	}
	.flights__table table thead tr th:first-child {
		width: 150px;
	}	
}

@media (max-width: 680px) {
	.header__nav li {
		margin-left: 18px;
	}
	.flights__table table,
	.flights__table__link {
		display: none;
	}
}

@media (max-width: 630px) {
	.header__right {
		margin-left: 100px;
	}	
}

@media (max-width: 585px) {
	.header__right {
		margin-left: 60px;
	}
	.first__heading {
		font-size: 36px;
	}
}

@media (max-width: 540px) {
	.first {
		min-height: 550px;
   	 	padding-top: 200px;
	}
	.header__right {
		margin-left: 330px;
	}
	.menu__icon {
		display: block;
		margin-left: 30px;
	}	
	.header__nav {
		display: none;
	}
	.footer__title {
		display: none;
	}
	.footer__column {
		display: none;
	}
	.footer__info {
		display: block !important;
	}
}

@media (max-width: 520px) {
	.header__right {
		margin-left: 280px;
	}
	.first__heading {
		font-size: 30px;
	}
}

@media (max-width: 470px) {
	.first {
	min-height: 480px;
	}
	.header__right {
		margin-left: 230px;
	}
	.header__login {
		width: 100px;
		height: 30px;
		margin-top: 7px;
		font-size: 15px;
	}
	.first__heading {
		display: none;
	}
	.first__descr {
		display: none;
	}	
}

@media (max-width: 400px) {
	.first {
		min-height: 440px;
	}
	.header__right {
		margin-left: 180px;
	}
}

@media (max-width: 350px) {
	.header__right {
		margin-left: 130px;
	}
}